/* .main{
    text-align: center;
} */

.heading{
    color: white;
    background-color: blueviolet;

  
}

.main{
    width: 550px;
    margin-left: 381px;
    height: 500px;
    background-color: lightgrey;
}

.btn{
    margin: 5px;
    background-color: blueviolet;
    border-radius: 6px;
    border-style: none;
    color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


.input {
    width:50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

